/*Top Banner*/
.top-banner {
    border: dotted 3px;
}

.top-banner img {
    width: 125px;
    height: 125px;
}

.top-banner div {
    text-align: center;
}

.description:nth-child(1) {
    color: #053664!important;
}
.description:nth-child(2) {
    color: #005e7c!important;
}
.description:nth-child(3) {
    color: #037455!important;
}


/*OCR Form*/
.ocr-form {
    padding-top: 100px;
}

.help-block {
	color: red;
}