
<div class="container">

	<!-- Dashboard top banner starts -->
<!--
	<div class="row top-banner">
		<div class="col-md-4">
			<img src="assets/images/upload.png">
			<h3 class="description"><strong>Upload File</strong></h3>
		</div>
		<div class="col-md-4">
			<img src="assets/images/start.png">
			<h3 class="description"><strong>Start OCR</strong></h3>
		</div>
		<div class="col-md-4">
			<img src="assets/images/result.png">
			<h3 class="description"><strong>Get Results</strong></h3>
		</div>
	</div>
-->
	<!-- Dashboard top banner ends -->

	<!-- Dashboard OCR starts -->
	<div class="row ocr-form">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-2" for="empName">Name</label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" id="emp-name" placeholder="Emp Name" name="empName" [(ngModel)]="empName">
			    </div>

			    <label class="control-label col-sm-2" for="empId">Emp ID</label>
			    <div class="col-sm-2">
			      <input type="text" class="form-control" id="emp-id" placeholder="Name" name="empId" [(ngModel)]="empId">
			    </div>

			    <label class="control-label col-sm-2" for="docType">Document Type</label>
			    <div class="col-sm-2">
			    	<div class="radio">
					  <label><input type="radio" name="sslc" [(ngModel)]="text" (change)="selectDocType($event)" value="SSLC">SSLC</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="hsc" [(ngModel)]="text" (change)="selectDocType($event)" value="HSC">HSC</label>
					</div>
					<div class="radio">
					  <label><input type="radio" name="pan" [(ngModel)]="text" (change)="selectDocType($event)" value="PAN">PAN CARD</label>
					</div>
			    </div>
			</div>
		</form>

		<form class="form-horizontal">
			<div class="form-group">

				<!-- <div class="radio col-sm-2">
					<label><input type="radio" name="optradio">SSLC</label>
					<label><input type="radio" name="optradio">HSC</label>
				</div>

				<label for="sel1">Select list:</label>
				<select class="form-control" id="sel1">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
				</select> -->

			    <label class="control-label col-sm-3" for="file">Image (.png or .jpg -- Max size: 1KB)</label>
			    <div class="col-sm-3">
			      <input type="file" class="form-control" id="file" placeholder="Max Size 1000 KB" (change)="fileChange($event.target.files)">
			      <span class="help-block" *ngIf="errorMsg">{{errorMsg}}</span>
			    </div>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" id="dob" placeholder="Register Number" name="regNo" [(ngModel)]="regNo">
			    </div>
			    <!-- <div class="col-sm-2">
			      <input type="text" class="form-control" id="file" placeholder="Date of Birth" name="dob" [(ngModel)]="dob">
			    </div> -->
			    <div *ngIf="processing" class="col-sm-2">
				    <button type="button" class="btn btn-default">
			          <i class="fa fa-circle-o-notch fa-spin" style="color:red"></i> 
			        </button>
			    </div>
			    <div *ngIf="verified" class="col-sm-2">
				    <button type="button" class="btn btn-success btn-sm">
			          <span class="glyphicon glyphicon-ok"></span> 
			        </button>
			    </div>
			    <div *ngIf="not_verified" class="col-sm-2">
				    <button type="button" class="btn btn-danger btn-sm">
			          <span class="glyphicon glyphicon-remove"></span> 
			        </button>
			    </div>
  			</div>
			<div class="form-group"> 
				<div class="col-sm-offset-3 col-sm-9">
				  <button type="button" class="btn btn-default" (click)="ocr();">Submit</button>
				</div>
			</div>
		</form>
	</div>
	<!-- Dashboard OCR ends -->

</div>